body{
    background-color: rgba(33, 33, 109, 0.563);
    color: pink;
    font-family: "Libertinus Keyboard", system-ui;
    margin: 0px

}

header{

font-size: 50px;
border-top:  double 50px rgb(17, 95, 173);
        /* margin: 100px * /;
h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}