body{
    background-color: rgb(247, 52, 182);
    color: rgb(205, 123, 8);
    font-family: "Epunda Slab", serif;
    margin: 0px;
}

header{
    font-size: 50px;
    text-align: center;
    border-bottom: double  5px rgb(45, 89, 192); 
   /* margin: 30px;*/
   padding: 30px;
  color: rgb(209, 37, 181);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
background-color: rgb(168, 65, 196);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
    margin-right: 10%;

}